body, html {
  height: 100%;
}
h2,h4,h3{
  text-align: center;
}
 /* section1 css */
 .section1{
   height: 20%;
 }


 .menu{
   background-color:white;
  list-style-type: none;
  text-align: center;

 }

 .menu li{
   display: inline-block;
   font-size: 20px;
   padding: 20px 15px;
 }
 .select-menu{
   color: #000;

 }

 .select-menu:hover {
   color: #FA8072;
   text-decoration: none;
 }

.intro{
  font: italic normal normal 100px/1.4em belinda-w00-regular,script;
  padding-bottom: 30px;

}
.slog{
  font: normal normal normal 25px/1em belinda-w00-regular,script;
}
.grid-container {
  display: grid;

  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  /* padding: 10px; */
}

.grid-container > div {
  text-align: center;
  padding: 40px 0;
  font-size: 30px;
}
hr.new6{
  border: 2px solid #fff;
  width: 70%;
  top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.item1{
  background-color: #FA8072;
}
.item3{
  background: black;
}
.item5{
  background: white;
}
.item7{
  background: #FA8072;
}


 /* End of section1 */
.button{
  margin-right: auto;
  margin-left: auto;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.parallax {
  background-image: url('banner1.jpg');
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.parallax2 {
  background-image: url('banner2.jpg');
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-intro{
  line-height: 0px;
  position: absolute;
  top: 40%;
  left: 25%;
}
.main-intro .welc{
  font-size: 50px;
  color: white;
  font-weight: 1000;
}
.section2{
  height:100px;
  background-color:#000;
  font-size:36px;
  color: #fff;
}

/* section 3 css */
.section3{
  background-color: #000;
  /* margin-top: 20% */
}
.box{
  width:auto;
  padding: 50px;
  /* margin: 20px; */
  margin-left: auto;
  margin-right: auto;
}
.box > hr.new4{
  border: 2px solid #fff;
  width: 22px;
  top: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
hr.new5{
  border: 2px solid #fff;
  width: 70%;
  top: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section3 > .box > h2 {
  color: #fff;
  font:italic normal normal 60px/1.4em belinda-w00-regular,script;
}
.section3 > .box > .desc > h3{
  color: #fff;
  font:normal normal normal 19px/1.4em brandon-grot-w01-light;
}
.section3 > .box > .desc > h2 {
  color: #fff;
  font:normal normal normal 22px/1.4em "libre baskerville";
}
.desc{
  border: 1px solid white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
    text-align: center;
}
.button1{
  background-color:#FFA07A;
  color: #000;
}


/* Section 4 css */
.section4{
  /* background-color: #fff; */
  /* margin-top: 20% */
  padding-bottom: 100px;
}
.test{
  text-align: center;
}
.inline{
  display: inline-block;
  margin: 4px 2px;
  padding: 15px 32px;
}
.test-desc{
  width: 20%;
}
.section4 h4, h3{
  color: #000;
  font: normal normal normal 17px/1.4em brandon-grot-w01-light,sans-serif;
}
.section4 > .box > h2{
  color: #000;
  font:italic normal normal 60px/1.4em belinda-w00-regular,script;
}
hr.new6{
  border: 2px solid #000;
  width: 22px;
  top: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Section 5 */
.section5{
  padding-bottom: 100px;
}

.section5 > .visit > h1{
  color: #fff;
  font: italic normal normal 60px/1.4em belinda-w00-regular,script;

}
.section5 > .visit > h3{
  color: #fff;
  font: normal normal normal 17px/1.4em brandon-grot-w01-light,sans-serifl;
}
.section5 > .visit > p{
  font: normal normal normal 17px/1.4em brandon-grot-w01-light,sans-serif;
}
.visit{
background-color: #000;
width: 35%;
color:#fff;
text-align: center;
}

      /* css for contact form */
.form{
  padding-right: 7px;
  width: 100%;
  padding-bottom:30px;
}

.show-grid [class^=col-] {

padding-right: 0px;
}
input[type=text], select {
  width: 100%;
  background: black;
  color: #fff;
  padding: 5px 0px;
  width: 226px;
  margin: 3px 3px 7px 3px;
  display: inline-block;
  border: 1px solid #fff;
  /* border-radius: 4px; */
  box-sizing: border-box;
}

input[type=textarea], select {
  width: 100%;
  height: 100px;
  background: black;
  color: #fff;
  padding: 3px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #fff;
  /* border-radius: 4px; */
  box-sizing: border-box;
}
.button2{
  width: 100%;
  background-color: #FFA07A;
  color: #000;
}


/* Section 6 */
.section6{
  background: #000;
  height: 30%;
}

.footer{
width: 35%;
color:#fff;
text-align: center;

}

.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 10em;
	}

.fa-twitter{
	background: #fff;
	color: #000;
  padding: 0.05em 0.07em;

	}
  .fa-instagram{
  	background: #fff;
  	color: #000;
    padding: 0.05em 0.07em;

  	}

    .fa-facebook{
    	background: #fff;
    	color: #000;
      padding: 0.05em 0.07em;

    	}
